@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*Global Styles*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'calibri', sans-serif;
    scroll-behavior: smooth;
}

.Title {
    font-size: 16px;
    font-weight: 900;
}

.Para {
    color: #222;
}

.Icon {
    width: 20px;
    margin-right: 10px;
}

.Win98-Button-Disabled {
    text-decoration: none;
    color: #222;
    background: darkgrey;
    padding: 5px 20px;
    border-top: 2px solid grey;
    border-bottom: 2px solid white;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    cursor: not-allowed;
}

/*Scroll-bar*/
::-webkit-scrollbar {
    width: 20px;
    background: darkgray;
    border-top: 2px solid grey;
    border-bottom: 2px solid white;
    border-left: 2px solid grey;
    border-right: 2px solid white;
}

::-webkit-scrollbar-button {
    height: 20px;
    background: #cdcdcd;
    border-top: 2px solid white;
    border-bottom: 2px solid grey;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(Assets/Vartical-Scrollbar-Decrement.png);
}

::-webkit-scrollbar-button:vertical:increment {
    background-image: url(Assets/Vartical-Scrollbar-Increment.png);
}

::-webkit-scrollbar-thumb {
    background: #cdcdcd;
    border-top: 2px solid white;
    border-bottom: 2px solid grey;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

/*Header Section*/
header {
    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
}

#Header-Title {
    display: inherit;
    justify-content: space-between;
    padding: 5px 20px;
    background: linear-gradient(90deg,navy,#1084d0);
    color: white;
}

#Title-Container {
    display: flex;
    align-items: center;
}

#Close-Button:focus {
    border-top: 2px solid grey;
    border-bottom: 2px solid white;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    background: darkgray;
}

#Close-Button {
    background: #cdcdcd;
    width: 20px;
    height: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid grey;
    border-left: 2px solid white;
    border-right: 2px solid grey;
}

#Close-Button img {
    width: auto;
}

#Navigation-Bar {
    background-color: #cdcdcd;
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;
}

#Navigation-Bar ul {
    list-style: none;
    padding: 5px 20px;
}

#Navigation-Bar ul li {
    display: inline;
}

#Navigation-Bar ul li a {
    text-decoration: none;
    color: #222;
    padding: 0 5px
}

#Navigation-Bar ul li a:hover{
    display: inline;
    text-decoration: none;
    color: #222;
    padding: 0 3px;
    background-color: #cdcdcd;
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid grey;
    border-left: 2px solid rgb(255, 255, 255);
    border-right: 2px solid grey;
}

#Navigation-Bar ul li a:focus {
    background: darkgray;
    width: 20px;
    height: 20px;
    border-top: 2px solid grey;
    border-bottom: 2px solid white;
    border-left: 2px solid grey;
    border-right: 2px solid white;
}

#Navigation-Bar ul a {
    text-decoration: none;
    color: #222;
    padding: 0 1px;
}

/*Viewport Settings*/
main {
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid grey;
}

/*Summary Section*/
#Summary {
    height: 100vh;
    display: block;
    background-image: url("Assets/Summary-Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#Background {
    height: 100vh;
    background: linear-gradient(#cdcdcd00, #cdcdcd);
    display: flex;
    justify-content: center;
    align-items: center;
}

#Summary-Container {
    width: 40vw;
    background: #cdcdcd;
    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;
}

#Summary-Title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 20px;
    background: linear-gradient(90deg,navy,#1084d0);
    color: white;
}

#Summary-Holder {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;
    padding: 10px 10px;
}

#Actual-Summary {
    display: flex;
    align-items: center;
}

#Summary-Content {
    display: flex;
    flex-direction: column;
}

#Summary-Content p {
    text-align: justify;
}

#Button-Holder {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.Win98-Button {
    text-decoration: none;
    color: #222;
    padding: 5px 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid grey;
    border-left: 2px solid white;
    border-right: 2px solid grey;
}

.Win98-Button:focus {
    text-decoration: none;
    color: #222;
    padding: 5px 20px;
    border-top: 2px solid grey;
    border-bottom: 2px solid white;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    background: darkgrey;
}

/*Skills Section*/
#Skills-Container {
    height: 100vh;
    background: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Skills {
    background: white;
    border-top: 3px solid grey;
    border-bottom: 3px solid white;
    border-left: 3px solid grey;
    border-right: 3px solid white;
}

#Address-Bar {
    height: 30px;
    padding: 0 10px;
    background: #cdcdcd;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-top: 1px solid white;
    border-bottom: 1px solid grey;
    border-left: 1px solid white;
    border-right: 1px solid grey;
}

#Address-Bar span {
    margin-right: 10px;
}

#Address-Bar div {
    height: 85%;
    width: 100%;

    background: #fefefe;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;

    display: flex;
    align-items: center;
}

#Address-Bar div img {
    width: 15px;
    margin: 5px 5px;
}

#Main-Content {
    width: 80vw;
    height: 74vh;
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;
}

#Main-Content-Header {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    padding: 30px 10px;
    background: linear-gradient(135deg, #1084d0, #1083d000 30%);
}

#Main-Content-Header img {
    width: 50px;
}

#Main-Content-Header span {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
}

#Main-Content-Header div {
    display: flex;
}

#Main-Content-Header div hr {
    width: 100%;
}

#Header-Line-1 {
    border-color: rgb(255, 50, 50);
}

#Header-Line-2 {
    border-color: rgb(255, 255, 50);
}

#Header-Line-3 {
    border-color: rgb(50, 129, 50);
}

#Header-Line-4 {
    border-color: rgb(50, 50, 255);
}

#Main-Content-Skill-List {
    list-style: none;
    margin-top: 20px
}

#Main-Content-Body {
    width: 80%;
    height: fit-content;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.Body-Item {
    display: flex;
    height: fit-content;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin: 20px
}

.Body-Item:active {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: 1px dotted black;
}

.Skill-Img {
    width: 100px;
    padding: 10px;
}

#Info-Bar {
    height: 30px;
    display: flex;
    align-items: center;
    background: #cdcdcd;
    border-top: 1px solid white;
    border-bottom: 1px solid grey;
    border-left: 1px solid white;
    border-right: 1px solid grey;
}

#Info-Bar div {
    width: 100%;
    height: 85%;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;
}

#Info-Bar-3 {
    display: flex;
    align-items: center;
}

#Info-Bar-3 img {
    width: 15px;
    margin: 5px 5px;
}

/*Project Section*/
#Project-Container {
    height: 100vh;
    background: #cdcdcd;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Projects {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-evenly;
}

.Project-Item {
    width: 40%;
    height: fit-content;
    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;
}

.Title-Bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    width: 100%;
    padding: 5px 20px;
    background: linear-gradient(90deg,navy,#1084d0);
}

.Item-Body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 100%;
}

.Item-Body-Content {
    height: fit-content;
    padding: 10px;
    background-color: white;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;

    display: flex;
    align-items: center;
}

.Item-Body-Content img {
    width: 150px;
    margin-right: 10px;
}

.Body-Content-Tags {
    list-style: none;
}

.Body-Content-Tags li {
    display: inline;
    font-weight: 600;
    padding: 0 10px;
}

.Body-Content-Hr {
    display: flex;
}

.Body-Content-Hr hr {
    width: 100%;
}

.Body-Content-Discription {
    padding: 10px;
}

.Item-Body-Buttons {
    display: flex;
    height: fit-content;
    margin: 10px 0;
    justify-content: flex-end;
}

/*Work Section*/
#Work-Item-1 {
    padding: 0 10px
}

#Work-Details {
    display: flex;
    justify-content: space-between;
}

/*Footer*/
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #cdcdcd;
    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;

    height: fit-content;
    position: sticky;
    left: 0;
    bottom: 0;
}

.Footer-Icon {
    width: 20px;
    align-items: center;
}

#Footer-Container, #Taskbar, .Taskbar-Item {
    display: flex;
    align-items: center;
}

#Top-Button {
    display: flex;
    padding: 2px;
    margin: 5px;
    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;
}

#Top-Button:focus {
    display: flex;
    padding: 2px;
    margin: 5px;
    border-top: 3px solid grey;
    border-bottom: 3px solid white;
    border-left: 3px solid grey;
    border-right: 3px solid white;
    background: darkgray;
}

.Taskbar-Item {
    margin: 5px;
    padding: 3px 5px;

    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;
    text-decoration: none;
    color: #222;
}

.Taskbar-Item:focus {
    margin: 5px;
    padding: 3px 5px;
    border-top: 3px solid grey;
    border-bottom: 3px solid white;
    border-left: 3px solid grey;
    border-right: 3px solid white;
    background: darkgray;
}

.Taskbar-Item img {
    margin-right: 5px;
}

#Date-Time-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5px;
    margin-right: 5px;

    border-top: 2px solid grey;
    border-bottom: 2px solid white;
    border-left: 2px solid grey;
    border-right: 2px solid white;
    background: #cdcdcd;

    font-size: 14px;
}

/*Bios Screen*/
.Mono-Text {
    font-family: 'VT323', monospace;
    color: #cdcdcd;
    font-size: 30px;
}

#Alert div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100px;
}

#Alert-Button {
    background: none;
    color: white;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 30px;
    cursor: pointer;
}

#Alert-Button:hover {
    background: white;
    color: black;
    border: none;
    font-family: 'VT323', monospace;
    font-size: 30px;
}

#Bios-Screen {
    height: 100vh;
    padding: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: black;
}

#Manufacturer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#Build {
    margin-bottom: 10px;
}

#Version-Info, #Boot-Initials {
    display: flex;
    flex-direction: column;
}

#Energy-Star-Logo {
    width: 300px;
}

/*Close Window*/
#Close-Window {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.800);

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
}

#Close-Window-Container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Close-Window-Dailogue {
    border-top: 3px solid white;
    border-bottom: 3px solid grey;
    border-left: 3px solid white;
    border-right: 3px solid grey;
}

#Close-Window-Dailogue-Main {
    max-width: 80vw;
    background: #cdcdcd;
    border-top: 1px solid grey;
    border-bottom: 1px solid white;
    border-left: 1px solid grey;
    border-right: 1px solid white;
}

#Close-Window-Main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Close-Window-Buttons {
    margin-top: 10px;
}

/*For Phone Users*/
@media only screen and (max-width: 1500px) {
    /*Header Properties*/
    #Header-Title {
        padding: 5px 5px;
    }

    #Navigation-Bar {
        justify-content: center;
        font-size: 14px;
    }

    #Navigation-Bar div {
        width: 0;
        height: 0;
        border: none;
    }

    /*Summary Section*/
    #Summary-Container{
        width: 80vw;
    }

    #Actual-Summary {
        flex-direction: column;
    }

    #Summary-Content {
        justify-content: center;
        align-items: center;
    }

    /*Skills Section*/
    #Main-Content {
        flex-direction: column;
    }

    #Main-Content-Header {
        width: 100%;
        height: fit-content;
        padding: 10px 5px 5px 5px;
    }

    #Main-Content-Body {
        width: 100%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 10px 5px;
    }
    
    .Body-Item {
        margin: 0;
    }

    .Body-Item span {
        font-size: 12px;
    }
    
    .Skill-Img {
        width: 50px;
        padding: 0;
    }

    /*Projects Section*/
    #Project-Container {
        height: max-content;
    }

    #Projects {
        flex-direction: column;
        flex-wrap: nowrap;
        height: max-content;
        margin: 9.5vh 0;
    }

    .Project-Item {
        width: 80vw;
        margin: 10px 0;
    }

    .Item-Body-Content {
        flex-direction: column;
    }

    /*Bios Screen*/
    .Mono-Text {
        font-size: 15px;
    }

    #Alert-Button, #Alert-Button:hover {
        font-size: 15px;
    }

    #Build, #Energy-Star-Logo, #Version-Info {
        margin-bottom: 10px;
    }

    #Energy-Star-Logo {
        width: 100px;
    }

    #Bios-Screen {
        padding: 100px 30px;
    }

    #Manufacturer {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
}